//
   Created by Alec on 10/20/2014.
html
    head
        title!= title
    body
        h1 Projects:
        ul
            each project, title in project_list
                li!= title
                li!= 'Date: ' + project.date
                li!= 'Revision ' + project.version
                li files
                    ul
                        each file, name in project.files
                            li!= name
                                ul
                                    li!= file.size + ' Bytes'
                                    li!= 'Type: ' + file.type
                                    li!= file.path
                br
